@import 'partials/setup';
@import 'partials/variables';
@import 'partials/typography';
@import 'partials/header';
@import 'partials/hero';
@import 'partials/products';
@import 'partials/features';
@import 'partials/quotes';
@import 'partials/demo';
@import 'partials/footer';

html{
	font-size:62.5%;
}

body{
	font-family:$bodyFont;
	font-size: 1.6rem;
	color:$typeColor;
	padding-top: 60px;
}

.wrapper{
	margin: 0 auto;
	width: 85%;
	max-width: 1100px;
}

img{
	width: 100%;
}








