header{
	height: 60px;
	padding: 10px 0;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 9999;
}

.scrolled-nav{
	background-color: $primaryMuted;
	border-bottom: 3px solid #fff;
	transition: all 1s ease;
	a{
		@include link-style(#fff, 1.6rem, 500);
		&:hover{
			color: $accent;
		}
	}
	h1{
		color:#fff;
	}
}

.start-nav{
	background-color: #fff;
	// border-bottom: 3px solid $fff;
	transition: all .7s ease;
	a{
		@include link-style($typeColor, 1.6rem, 500);
		&:hover{
			color: $primary;
		}
	}
	h1{
		color:$primary;
	}
}

.top-nav{
	display: flex;
	flex-direction:row;
	flex-wrap:no-wrap;
	justify-content:space-between;
	h1{
		margin-right:100px;
	}
}

.main-menu{
	display: flex;
	justify-content:space-between;
	align-items:center;
	flex:1 0 auto;
	li{
		position: relative;
		&:hover .dropdown{
			display: inline-block;
		}
	}
	.login-area{
		margin-left: 50px;
		a{
			margin-left: 50px;
		}
	}
	
}

.dropdown{
	display: none;
	position: absolute;
	width: 250px;
	padding: 10px;
	background-color: #fff;
	top: 20px;
	border:.25px solid $strokeShadows;
	border-radius: 5px;
	box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.1);
}
