.hero{
	height:800px;
	position: relative;
	margin-bottom:0;
}

.hero__content{
	display: flex;
	position: relative;
	z-index: 100;
	.hero__content--text{
		display: flex;
		flex-direction:column;
		justify-content:flex-end;
		align-items:flex-start;
		width: 58%;
		margin-right: 2%;
		margin-bottom: 40px;
		color:#fff;
		button{
			margin-top: 40px;
		}
	}
	.hero__content--logo{
		width: 55%;
		transform:rotate(-45deg) translate(-10%, 10%);
		img{
			max-width: 600px;
			transition:all 1s ease;
			&:hover{
			transform:rotate(10deg) translate(-1%, 1%);
		}
		}
	}
}

.hero-diag{
	position: absolute;
	transform:skew(-72deg) translateX(-71%);
	background-color: $primaryMuted;
	top: 0;
	z-index: 10;
	overflow: hidden;
	width: 250%;
	height: 100%;
	
}