$primary: #F44336;
$primaryMuted: rgba(244, 67, 54, 0.75);
$accent: #FFC107;
$fontColor: #212121;
$strokeShadows: #757575;

$headingFont: 'Montserrat', sans-serif;
$bodyFont: 'Source Sans Pro', sans-serif;